{% load static %}
{% load swampdragon_tags %}

<!DOCTYPE html>
<html ng-app="TodoApp">
<head lang="en">
    <meta charset="utf-8">
    <title>TODO DRAGONS</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
{% verbatim %}
<div ng-controller="TodoCtrl">
    <button ng-click="refreshList()">Refresh da list</button>
    <h6>Double-click on a todo to edit it</h6>
    <div>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="newTodo"/>
            <button type="submit">Add!</button>
        </form>
    </div>
    <div>
        <ol>
            <li ng-repeat="todo in todos">
                <h4 ng-dblclick="editTodo(todo)"
                    ng-class="{'crossed': todo.done}">{{ todo.label }}</h4>
                <label for="done{{ todo.id }}">Done</label>
                <input id="done{{ todo.id }}"
                       ng-checked="todo.done"
                       ng-change="toggleTodoDone(todo)"
                       ng-model="done"
                       type="checkbox"/>
                <button ng-click="deleteTodo(todo)">×</button>
            </li>
        </ol>
    </div>
</div>
{% endverbatim %}

<!-- AngularJS -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
<script type="text/javascript" src="http://localhost:9999/settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/dist/swampdragon.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/dist/datamapper.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/angular/services.js"></script>

<!-- TodoApp -->
<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
</body>
</html>
